<div class="nav-container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link"
        routerLinkActive="active"
        routerLink="/home"
        *ngIf="isLoggedIn"
      >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        routerLinkActive="active"
        routerLink="/contact"
        *ngIf="isLoggedIn"
      >Contact</a>
    </li>
    <span class="spacer"></span>
    <!-- <li class="nav-item">
      <a routerLink="/login" class="nav-link"  *ngIf="!isLoggedIn">Log In</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" (click)="onLogOut()" *ngIf="isLoggedIn">Log Out</a>
    </li>
  </ul>
</div>
