<div class="contact-conntainer">

  <div class="card" style="border: none;">
    <div class="banner">
    </div>
    <div class="menu">
    </div>
    <h2 class="name">George Syrianos</h2>
    <div class="title">Front End Engineer</div>
    <div class="actions">
      <div class="follow-info">
        <h2>
          <a>
            <small>Email</small>
            <span>giosyrianos@gmail.com</span></a>
        </h2>
        <h2>
          <a>
            <small>Phone</small>
            <span>6976491557</span></a>
        </h2>
        <h2>
          <a href="https://www.linkedin.com/in/george-syrianos" target="_blank">
            <small>LinkedIn</small>
            <span>https://www.linkedin.com/in/george-syrianos/</span></a>
        </h2>
        <h2>
          <a>
            <small>Address</small>
            <span>Kallirois 69, 11743</span></a>
        </h2>
      </div>

    </div>
</div>
